.buttons {
    box-shadow: 5px 5px 5px rgb(171, 171, 171);
    border-width: 0px;
    border-radius: 8px;
    padding: 10px 20px 10px 20px;
    font-family: 'Arial';
    color: white;
    font-size: 16px;
    font-weight: 700;
    transition: 0.1s;
    cursor: pointer;
}

.buttons:hover {
    opacity: 0.8;
}

.buttons:active {
    opacity: 0.3;
}

.green-buttons {
    background-color:rgb(29, 235, 166);
}

.purple-buttons {
    background-color: rgb(164, 68, 252);
}

.blue-buttons {
    background-color: rgb(89, 147, 254);
}

#instructions-button-container {
    position: fixed;
    top: 30px;
    left: 150px;
}

#shuffle-button-container {
    position: fixed;
    top: 30px;
    left: 430px;
}

#start-here-button-container {
    position: fixed;
    top: 30px;
    left: 680px; 
}

#solution-button-container {
    position: fixed;
    top: 30px;
    left: 1180px;
}

#reset-button-container {
    position: fixed;
    top: 30px;
    left: 950px;
}

#previous-button-container {
    position: absolute;
    top: 2000px;
    right: 290px;
}

#next-button-container {
    position: absolute;
    top: 2000px;
    right: 120px; 
}

#start-again-button-container {
    position: absolute;
    top: 415px;
    left: 155px;
}

.close-icons {
    height: 28px;
    width: 28px;
    border: 0px;
    border-radius: 14px;
}

.close-buttons {
    border-radius: 14px;
    margin-top: 10px;
    border-width: 0px;
    height: 28px;
    width: 28px;
    display:flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    top: -3px;
    right: 8px;
}

.close-buttons:hover {
    opacity: 0.8;
}

.close-buttons:active {
    opacity: 0.3;
}