.pop-up-headings {
    font-size: 18px;
    text-decoration-line: underline;
    text-decoration-style: dashed;
}

.instructions-container {
    font-family: 'Arial';
    font-size: 16px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}

#instructions-pop-up {
    color:black;
    box-shadow: 10px 10px 10px rgb(186, 186, 186);
    background-color:rgb(251, 234, 213);
    border-color: black;
    border-width: 0px;
    border-style: solid;
    border-radius: 16px;
    position: fixed;
    padding: 20px 40px 20px 40px;
    z-index: 200;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    z-index: 100;
}

#congrats-container {
    font-family: 'Arial';
    font-size: 16px;
    font-weight: 500;
    position:relative;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}

#congrats-buttons-container {
    display:flex;
    flex-direction: row;
    position:absolute;
    top: 250px;
    left:-40px;
    right: -40px;
    justify-content: space-evenly;
}

#congrats-pop-up {
    display: none;
    z-index: -100;
    box-shadow: 10px 10px 10px rgb(186, 186, 186);
    background-color:rgb(251, 234, 213);
    border-color: black;
    border-width: 0px;
    border-style: solid;
    border-radius: 16px;
    display: flex;
    position: fixed;
    padding: 20px 55px 80px 55px;
    z-index: 200;
    top: 2000px;
    left: 50%;
    transform: translate(-50%, -85%);
}
